language: generic

services:
  - docker

env:
  global:
    - VERBOSE=1
  matrix:
    - DISTRIBUTIONS=debian.jessie  ANSIBLE_VERSION=2.6.5
    - DISTRIBUTIONS=debian.stretch ANSIBLE_VERSION=2.6.5

script:
  - echo test
if: type = pull_request

script:
  - echo gitsplit
if: branch = master AND type != pull_request
env: matrix = null
