language: generic

services:
  - docker


jobs:
  include:
    - stage: test
      script: echo test 1
    - # stage name not required, will continue to use `test`
      script: echo test 2
    - stage: deploy
      script: echo deploy

# env:
#   # global:
#   #   - VERBOSE=1
# # matrix:
#   - DISTRIBUTIONS=debian.jessie  ANSIBLE_VERSION=2.6.5
#   - DISTRIBUTIONS=debian.wheezy  ANSIBLE_VERSION=2.6.5
#   - DISTRIBUTIONS=debian.stretch ANSIBLE_VERSION=2.6.5
#   - DISTRIBUTIONS=ubuntu.xenial  ANSIBLE_VERSION=2.6.5

# - stage: test
#   script:
#     - echo test
#     # if: branch != master
#   # - stage: gitsplit
# - stage: gitsplit
#   script:
#     - echo gitsplit
#     #env:
#   if: branch = master

# # stages:
# #   - test
# #   - gitsplit
