language: generic

services:
  - docker

env:
  global:
    - VERBOSE=1
  matrix:
    - DISTRIBUTIONS=debian.jessie  ANSIBLE_VERSION=2.6.5
    - DISTRIBUTIONS=debian.stretch ANSIBLE_VERSION=2.6.5

jobs:
  include:
  - stage: test
    script:
      - echo test
    if: type = pull_request

  - stage: gitsplit
    script:
      - echo gitsplit
    if: branch = master AND type != pull_request
    env: matrix = null
