language: generic

services:
  - docker

env:
  global:
    - VERBOSE=1

jobs:
  include:
    - stage: Lint and Test
      script:
        - make lint.diff
        - make test.diff
      env:
        matrix:
          - DISTRIBUTIONS=debian.stretch ANSIBLE_VERSION=2.6.5
      if: type = pull_request

    - stage: Gitplit
      script:
        - docker run --rm -e GITSPLIT_GITHUB_API_TOKEN --tty --interactive --volume ${PWD}:/srv jderusse/gitsplit
      if: branch = master AND type = push
