language: generic

services:
  - docker

branches:
  only:
    - master

env:
  global:
    - VERBOSE=1
  matrix:
    - DISTRIBUTIONS=debian.wheezy  ANSIBLE_VERSION=2.6.5 PART=1/3
    - DISTRIBUTIONS=debian.wheezy  ANSIBLE_VERSION=2.6.5 PART=2/3
    - DISTRIBUTIONS=debian.wheezy  ANSIBLE_VERSION=2.6.5 PART=3/3
    - DISTRIBUTIONS=debian.jessie  ANSIBLE_VERSION=2.6.5 PART=1/7
    - DISTRIBUTIONS=debian.jessie  ANSIBLE_VERSION=2.6.5 PART=2/7
    - DISTRIBUTIONS=debian.jessie  ANSIBLE_VERSION=2.6.5 PART=3/7
    - DISTRIBUTIONS=debian.jessie  ANSIBLE_VERSION=2.6.5 PART=4/7
    - DISTRIBUTIONS=debian.jessie  ANSIBLE_VERSION=2.6.5 PART=5/7
    - DISTRIBUTIONS=debian.jessie  ANSIBLE_VERSION=2.6.5 PART=6/7
    - DISTRIBUTIONS=debian.jessie  ANSIBLE_VERSION=2.6.5 PART=7/7
    - DISTRIBUTIONS=debian.stretch ANSIBLE_VERSION=2.6.5 PART=1/7
    - DISTRIBUTIONS=debian.stretch ANSIBLE_VERSION=2.6.5 PART=2/7
    - DISTRIBUTIONS=debian.stretch ANSIBLE_VERSION=2.6.5 PART=3/7
    - DISTRIBUTIONS=debian.stretch ANSIBLE_VERSION=2.6.5 PART=4/7
    - DISTRIBUTIONS=debian.stretch ANSIBLE_VERSION=2.6.5 PART=5/7
    - DISTRIBUTIONS=debian.stretch ANSIBLE_VERSION=2.6.5 PART=6/7
    - DISTRIBUTIONS=debian.stretch ANSIBLE_VERSION=2.6.5 PART=7/7
    - DISTRIBUTIONS=centos.7       ANSIBLE_VERSION=2.6.5 PART=1/1
    - DISTRIBUTIONS=ubuntu.xenial  ANSIBLE_VERSION=2.6.5 PART=1/1

script:
  - echo lint.diff
  - echo test.diff
if: type = pull_request OR commit_message = Release

jobs:
  include:
    - name: Gitsplit
      script:
        - echo gitsplit
      env:
      if: commit_message = Release

# before_script: [ ${TRAVIS_BRANCH} != "master" ] && export env=[matrix] || [ ${TRAVIS_BRANCH} == "master" ] && export env=null
# script: [ ${TRAVIS_BRANCH} != "master" ] && echo LINT AND DIFF || [ ${TRAVIS_BRANCH} == "master" ] && echo GITSPLIT


# script:
#   - if [ "$TRAVIS_PULL_REQUEST" = "true" ]; then
#       echo LINT AND DIFF;

#     elif [ "$TRAVIS_PULL_REQUEST" = "false" ]; then
#       source env.gitsplit
#       &&  echo GITSPLIT; fi

# script:
#   - echo LINT AND DIFF

# jobs:
#   include:
#     - stage: GITSPLIT
#       script:
#         - echo GITSPLIT
#       env:
#       if: branch = master

