language: generic

services:
  - docker

# env:
#   - DISTRIBUTIONS=debian.stretch ANSIBLE_VERSION=2.6.5
#   - DISTRIBUTIONS=debian.jessie  ANSIBLE_VERSION=2.6.5

jobs:
  include:
    - &test
      stage: test
      env: DISTRIBUTIONS=debian.stretch ANSIBLE_VERSION=2.6.5
      script:
        - echo test 1
        - echo test 2
    - <<: *test
      env: DISTRIBUTIONS=debian.jessie  ANSIBLE_VERSION=2.6.5
    - <<: *test
      env: DISTRIBUTIONS=debian.wheezy  ANSIBLE_VERSION=2.6.5
    - stage: deploy
      script: echo deploy

# env:
#   # global:
#   #   - VERBOSE=1
# # matrix:
#   - DISTRIBUTIONS=debian.jessie  ANSIBLE_VERSION=2.6.5
#   - DISTRIBUTIONS=debian.wheezy  ANSIBLE_VERSION=2.6.5
#   - DISTRIBUTIONS=debian.stretch ANSIBLE_VERSION=2.6.5
#   - DISTRIBUTIONS=ubuntu.xenial  ANSIBLE_VERSION=2.6.5

# - stage: test
#   script:
#     - echo test
#     # if: branch != master
#   # - stage: gitsplit
# - stage: gitsplit
#   script:
#     - echo gitsplit
#     #env:
#   if: branch = master

# # stages:
# #   - test
# #   - gitsplit
